<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/styles.css">
        <script src="https://kit.fontawesome.com/96cdcb0a05.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo"> 
                    <a href="/">
                    <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                </a> </div>
                <div class="form" action="#" method="GET">
                    <div class="input">Buscar productos, marcas y más</div>
                    <div class="submit"><i class="fa fa-search"></i></div>
                </div>
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <nav>
                <div>
                    <a href="#">Ofertas</a>
                    <a href="#">Tiendas Oficiales</a>
                    <a href="#">Vender</a>
                    <a href="#">Ayuda</a>
                    <a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a>
                    <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                    <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
                </div> 
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>
        <main class="register">
            <form action="/" method="POST">
               
                <label><h4> Datos de usuario</h4></label> 
                <div>
                <input type="text" name="name" placeholder="Nombre y apellido">
                <input type="text" name="user" placeholder="Nombre de usuario">
                <input type="email" name="email" placeholder="E-mail">
                <br>
                <label for="birth_date"><b>Fecha de nacimiento</b></label>
                <br>
                <input type="date" name="birth_date" id="birth_date">
                <br>
                <label for="adress"> <h4>Domicilio </h4></label>
                <input type="text" name="addres" placeholder="Calle falsa n123">
            </div>
                <h4>Perfil del usuario</h4>
                <div class="profile">
                    <input type="radio" name="profile" value="buy" id="buy">
                    <label for="buy">Comprador</label>
                    <input type="radio" name="profile" value="sell" id="sell">
                    <label for="sell">Vendedor</label>
                </div>

                <h4>Intereses</h4>
                <div class="interests">
                    <div>
                        <input type="checkbox" name="interests" value="a" id="a">
                        <label for="a">Electro</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="b" id="b">
                        <label for="b">Moda</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="c" id="c">
                        <label for="c">Hogar</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="d" id="d">
                        <label for="d">Juguetería</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="e" id="e">
                        <label for="e">Vida sana</label>
                    </div>
                </div>
                
                <h4>Elegí tu foto de usuario</h4>
                <input type="file" name="avatar">
                <br>
                <br>
                <input type="password" name="pass" placeholder="Elegí tu contraseña">
                <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña">
                <br>
                <br>
                <input id="enviar" type="submit" value="Enviar">
                <input id="borrar" type="reset" value="Borrar">
                <br>
                <br>
            </form>
        </main>
        <footer>
            <section>
                <p><i class="fa-solid fa-credit-card"></i></p>
                <h5>Pagá con tarjeta o en efectivo</h5>
                <p>
                  Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
                  efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>
              </section>
              <section>
                <p><i class="fa-solid fa-gift"></i></p>
                <h5>Envío gratis desde $ 2.500</h5>
                <p>
                  Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
                  miles de productos. Es un beneficio de Mercado Puntos.
                </p>
              </section>
              <section>
                <p><i class="fa-solid fa-user-shield"></i></p>
                <h5>Seguridad, de principio a fin</h5>
                <p>
                  ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
                  hacer, porque estás siempre protegid@.
                </p>
              </section>
              <section >
                <p><h8 class="legal">Copyright © 1999-2022 MercadoLiebre S.R.L.</h8> </p>
              </section>
        </footer>
    </body>
</html>