* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ebebeb;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 12px;
}

header div.top-header {
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
}

header div.top-header p {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

header {
  background-color: #eac926;
}

header div.logo,
header div.form {
  width: 50%;
}
header div.form .submit {
  margin-left: 10px;
  display: flex;
  justify-content: center;
}

header div.logo {
  padding: 10px;
}
header .form {
  display: flex;
  align-items: center;
  padding: 2px;
  font-size: 11px;
}
header nav div a {
  font-size: 12px;
  margin-left: 20px;
  margin-right: 10px;
  text-decoration: none;
  color: #000;
}
header nav div a:hover {
  color: #0044aa;
}

header .form .input {
  background-color: #fff;
  border: 1px solid #000;
  outline: none;
  color: #666;
  padding: 2px;
}

header .form .submit {
  background-color: #fff;
  border: 1px solid #000;
  color: #666;
  width: 10%;
}

div.burger-menu {
  text-align: center;
}

div.burger-menu i {
  background-color: #0044aa;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  height: 40px;
  margin: 10px 0px 20px 0px;
  padding: 10px;
  width: 40px;
}

div.last-visit,
div.offers {
  display: flex;
  flex-wrap: wrap;
}

.price {
  font-size: 18px;
  width: 30%;
}

.discount {
  width: 70%;
}

.discount,
.description {
  font-size: 16px;
  font-weight: normal;
}

h3,
.description {
  color: #666;
}

.description {
  display: none;
  margin-top: 20px;
}

section.banner img {
  width: 100%;
}

main {
  width: 90%;
  margin: 0 auto;
}

main section article {
  background-color: #fff;
  margin: 10px 0px;
}

main section article img {
  width: 100%;
}

main section article i,
.discount {
  color: #39b54a;
}

main section article i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}

main section h3 {
  margin: 20px 0px;
}

article div.main-article {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  border-top: 1px solid #ebebeb;
  position: relative;
  padding: 15px;
}

footer {
  background-color: #fff;
  text-align: center;
  margin-bottom: 10px;
}
footer section {
  
  margin-top: 10px;
  padding: 10px 0px;
}
footer section i {
  font-size: 2em;
  margin-bottom: 10px;
  color: #0044aa;
}
footer section i:hover {
  color: #a0931c;
}

main.login form {
  width: 80vw;
  display: flex;
  padding: 10px;
  flex-direction: column;
}
main.login form input {
  padding: 6px;
  margin: 10px;
}

main.login form input.boton {
  width: 20vw;
  justify-content: center;
}

main.register {
  display: flex;
  padding: 10px;
  margin: auto;
  flex-direction: column;
}
main.register input {
  margin: 1%;
}
main.register input:focus {
  color: rgb(52, 35, 210);
}

main.register h4 {
  margin-bottom: 5px;
  margin-top: 5px;
}
main.register #enviar, #borrar {
  padding: 0 10px;
}
main.register #enviar:hover, #borrar:hover {
  font-weight: 600;
}


@media (min-width: 361px) {
  main section article .description {
    display: block;
  }

  main section article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  main section div.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  main section div.products article {
    width: 45%;
  }

  .price,
  .discount {
    width: 50%;
  }
}
@media (max-width: 768px) {
  nav {
    display: none;
  }
}
@media (min-width: 769px) {
  header div.top-header {
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-basis: auto;
  }

  main.login form {
    width: 50vw;
  }

  main section div.products article {
    width: 22%;
  }
  header nav div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-self: auto;
  
  }

  footer {
    display: flex;
    align-items: center;
   }
  
  footer section{    
    flex-wrap: nowrap;
    margin: 8px;
  }
  footer div {
    display: block;
       
  }
}

@media (min-width: 770px) and (max-width: 1000px) {
     article div.main-article {
      flex-direction: column;
  }}
  @media (min-width: 362px) and (max-width: 500px) {
    article div.main-article {
     flex-direction: column;
 }}